
.hannah-chat__container {
  display: flex;
  flex-direction: column;
  background-color: #1e2428;
  height: 70px;
  justify-content: flex-end;
}

.hannah-chat__container > section.emoji-mart.emoji-mart-light {
  position: relative;
  bottom: 5px;
}

.hannah-chat__input {
  margin: 5px 10px;
  border-radius: 21px;
  padding: 9px 12px 11px;
  background-color: #33383b;
  border: 1px solid #1e2428;
}

.hannah-chat__emojis {
  display: flex;
  color: aquamarine;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hannah-chat__emojis:hover {
  cursor: pointer;
}

.emoji-mart-bar {
  display: none;
}
