
.hannah-chat__container {
  display: flex;
  flex-direction: row;
  background-color: #1e2428;
  height: 70px;
}

.hannah-chat__container > section.emoji-mart.emoji-mart-light {
  position: relative;
  bottom: 310px;
  right: 65px;
}

.hannah-chat__input {
  margin: 5px 10px;
  border-radius: 21px;
  padding: 9px 12px 11px;
  background-color: #33383b;
  border: 1px solid #1e2428;
}

.hannah-chat__emojis {
  position: absolute;
  top: 538px;
}

.emoji-mart-category-list > li {
  cursor: pointer !important;
}

.emoji-mart-category-list > li > button {
  cursor: pointer !important;
}

.emoji-mart-category-list > li > button > span {
  cursor: pointer !important;
}
