
.hannah-chat__container {
  background-color: #1e2428;
}

.hannah-chat__input {
  padding: 9px 12px 11px;
  margin: 5px 10px;
  background-color: #33383b;
  border: 1px solid #1e2428;
  border-radius: 21px;
}

.hannah-chat__emojis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aquamarine;
}

.hannah-chat__emojis:hover {
  cursor: pointer;
}
